[Desktop Entry]
Type=Application
Version=1.0
Name= Wake on Lan
Comment=Wake on Lan Utility
Path=/usr/bin
Exec=wol-qt
Icon=wol_qt
Terminal=false
Categories=Network;
