[Desktop Entry]
Categories=X-Wine;
Comment=Simple Text Editor for Wine
Exec=wine notepad
Icon=notepad
Name=Wine Notepad
Terminal=false
Type=Application
