[Desktop Entry]
Categories=X-Wine;
Comment=Web Browser for Wine
Exec=wine iexplore
Icon=iexplore
Name=Wine Internet Explorer
Terminal=false
Type=Application
