[Desktop Entry]
Categories=X-Wine;
Comment=Uninstaller for Wine
Exec=wine uninstaller
Icon=winecfg
Name=Wine Uninstaller
Terminal=false
Type=Application
