[Desktop Entry]
Categories=X-Wine;
Comment=Command Prompt for Wine
Exec=wineconsole
Icon=wcmd
Name=Wine Command Prompt
Terminal=false
Type=Application
