[Desktop Entry]
Categories=X-Wine;
Comment=Task Manager for Wine Processes
Exec=wine taskmgr
Icon=taskmgr
Name=Wine Task Manager
Terminal=false
Type=Application
