[Desktop Entry]
Categories=X-Wine;
Comment=Editor for Wine Registry
Exec=wine regedit
Icon=regedit
Name=Wine Regitry Editor
Terminal=false
Type=Application
