[Desktop Entry]
Name=EasyWake
Comment= Wake on lan manager
Icon=EasyWake
Categories=System;Network;Qt;
Exec=EasyWake
Type=Application
StartupNotify=true
Terminal=false
