[Desktop Entry]
Exec=cloudExplorer %u
Icon=cloudExplorer
Name=Cloud Explorer
GenericName=S3 Client
Terminal=false
Type=Application
Categories=Network;
