[Desktop Entry]
Type=Application
Version=%VERSION%
Name=FluffyChat Binary
Comment=Open. Nonprofit. Cute. Easy to use (matrix) messenger. Secure and decentralized.
Exec=fluffychat-bin
Icon=fluffychat-bin
Terminal=false
