[Desktop Entry]
Name=Winetricks
Comment=Install applications on Wine
Exec=winetricks
Terminal=false
Icon=winetricks
Type=Application
Categories=Utility;
