[Desktop Entry]
Version=1.0
Type=Application
Name=Responsively App
Comment=A modified browser built using Electron that helps in responsive web development
Exec=responsively-app
Icon=responsively-app
Terminal=false
StartupNotify=false
Categories=Development;Network;WebBrowser;
