[Desktop Entry]
Version=1.0
Name=VueScan
GenericName=Scanning Program
Comment=Scanning Program
Exec=/usr/bin/vuescan
Icon=/usr/share/icons/hicolor/scalable/apps/vuescan.svg
Terminal=false
X-MultipleArgs=false
Type=Application
StartupNotify=true
Categories=Graphics;Utility;
Keywords=scan;scanner;
