[Desktop Entry]
Name=Caido
Exec=/opt/Caido/caido %U
Terminal=false
Type=Application
Icon=caido
StartupWMClass=Caido
Comment=Official desktop application for Caido
Categories=Network;
