[Desktop Entry]
Type=Application
Name=Ophcrack
Comment=LM and SAM hash cracker
Exec=ophcrack
Icon=/usr/share/ophcrack/pixmaps/os.xpm
Categories=Utility;
