[Desktop Entry]
Type=Application
Name=Mutt Sidebar
GenericName=Mail Client
Comment=Simple text-based Mail User Agent with sidebar
Icon=mutt-sidebar
Exec=mutt-sidebar %u
MimeType=x-scheme-handler/mailto;
Terminal=true
Categories=Office;Network;Email;
