[Desktop Entry]
Name=Memory Monitor
Comment=Monitoring of the memory usage
Comment[it]=Monitoraggio dell'uso della memoria
Exec=memory-monitor
Terminal=false
Type=Application
Categories=System;
Encoding=UTF-8