[Desktop Entry]
Name=Atom
Comment=Hackable text editor
GenericName=Text Editor
Exec=ELECTRON_TRASH=trash-cli /usr/bin/atom %F
Icon=atom
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Utility;TextEditor;Development;
MimeType=text/plain;
StartupWMClass=atom
