[Desktop Entry]
Encoding=UTF-8
Name=QGMailNotifier
GenericName=Gmail Notifier
Comment= Qt GMail notifier
Exec=qgmailnotifier
Terminal=false
Type=Application
Icon=qgmailnotifier
Categories=Network;Email;
