[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Ostinato
GenericName=Packet/Traffic Generator and Analyzer
Comment=Network packet and traffic generator and analyzer with a friendly GUI
Icon=/usr/share/pixmaps/ostinato.png
Exec=ostinato
Terminal=false
Categories=Network;
