[Desktop Entry]
Name=Bitwarden
GenericName=Password Manager
Comment=A secure and free password manager for all of your devices.
Exec=Bitwarden %u
Terminal=false
MimeType=x-scheme-handler/bitwarden
Type=Application
Icon=Bitwarden
Categories=Utility;
StartupWMClass=Bitwarden

