[Desktop Entry]
Name=Skype
Comment=Skype Internet Telephony
Exec=skypeforlinux
Icon=skypeforlinux
Terminal=false
Type=Application
StartupNotify=true
StartupWMClass=Skype
Encoding=UTF-8
Categories=Network;Application;
MimeType=x-scheme-handler/skype;x-scheme-handler/tel;x-scheme-handler/callto;
X-KDE-Protocols=skype,tel,callto
Actions=QuitSkype;

[Desktop Action QuitSkype]
Name=Quit Skype
Name[ar]=إنهاء اسكايب
Name[bg]=Изход от Skype
Name[ca]=Surt de Skype
Name[cs]=Ukončit Skype
Name[da]=Afslut Skype
Name[en]=Quit Skype
Name[de]=Skype beenden
Name[el]=Έξοδος από το Skype
Name[es]=Salir de Skype
Name[et]=Sulge Skype
Name[fi]=Sulje Skype
Name[fr]=Quitter Skype
Name[he]=יציאה מסקייפ
Name[hi]=स्काइप से बाहर निकलें
Name[hr]=Izađi iz Skypea
Name[hu]=A Skype bezárása
Name[id]=Keluar dari Skype
Name[it]=Esci da Skype
Name[ja]=Skype を終了
Name[ko]=Skype 종료
Name[lt]=Išjungti „Skype“
Name[lv]=Iziet no Skype
Name[ms]=Keluar Skype
Name[nb]=Avslutt Skype
Name[nl]=Skype afsluiten
Name[pl]=Zamknij Skype'a
Name[pt]=Sair do Skype
Name[pt_BR]=Encerrar o Skype
Name[ro]=Închide Skype
Name[ru]=Выйти из Скайпа
Name[sk]=Ukončiť aplikáciu Skypee
Name[sl]=Zapusti Skype
Name[sr_Latn]=Zatvori Skype
Name[sv]=Avsluta Skype
Name[th]=จบการทำงาน Skype
Name[tr]=Skype'tan Çık
Name[uk]=Вийти зі Skype
Name[vi]=Thoát Skype
Name[zh_CN]=退出 Skype
Name[zh_TW]=結束 Skype
Exec=skype --shutdown

