[Desktop Entry]
Name=Filen
Exec="/usr/bin/filendesktop" %U
Terminal=false
Type=Application
Icon=filendesktop
StartupWMClass=Filen
Comment=Filen Desktop Client
Categories=Utility;
